body{
  padding: 0;
margin: 0;
color:rgb(68 67 67);
background: whitesmoke;
font-family: Arial, Helvetica, sans-serif;
background-position: center;
    background-size: cover;
    background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613636478_35-p-fon-dlya-prezentatsii-gori-55.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.App {
  margin: 0 auto;
    width: 750px;
    padding: 0;
}
.date{
  color: #91908f;
  font-weight: 100;
  font-size: 12px;
  margin-left: 13px;
}
.main-center{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header{
  width: 100%;
    display: flex;
    height: 50px;
    border-bottom: 1px solid #cccdd2;
    padding: 10px;
    margin: 10px 0 30px 0;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.header1{
  display: flex;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.flex{
  display: flex;
}
.li{
  font-size: 20px;
    padding: 10px;
    border: 1px solid #cac5c500;
    cursor: pointer;
}
a{
  text-decoration: none;
  margin-right: 5px;
  color: black;

}
.li:hover{
  border: 1px solid #cac5c5;
  border-radius: 5px;
  transition: 0.5s; 
  background: #ffffffc2;
}
.form{
  display: flex;
    flex-direction: column;
}
.form-author{
  display: flex;
    align-items: center;
    
  }
  .blog-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .not-page{
display: flex;
justify-content: center;
align-items: center;
    flex-direction: column;
}
.blog-w{
  width: 97%;
    padding: 10px;
}
.text-blog{
  color: #585656c7;
    text-shadow: 0.1px 0.1px 0.2px #8d8c8c;
}
.author-name{
  color: #91908f;
    font-size: 14px;
    margin-right: 20px;
    word-wrap: break-word;
}
.w97{
  width: 97%;

    word-wrap: break-word;
}
.create-blog{
  background-color: #ffffffe6;
    width: 80%;
    padding: 30px;
    margin: 30px 0 40px 0;
    box-sizing: border-box;
    border: 1px solid #ffffffe6;
    border-radius: 10px;
}
.nav-blog{
  padding: 15px;
  background: #f3efee;
  cursor: pointer;
  border: 1px solid #cccdd2;
  font-weight: 600;
  border-radius: 4px;
}
.nav-blog:hover{
  background-color: #e5e5e8;
}
.blog-det{
  border-radius: 10px;
    padding: 10px;
    width: 80%;
    background-color: white;
    margin: 10px 0 10px 0;
    border: 1px solid #cccdd2;
}
.mrl{
  margin-left: 10px;
  margin: 13px;
  word-wrap:break-word;
      width: 95%;
}
.blog{
border-radius: 10px;
padding: 10px;
width: 80%;
background-color: #fafafa;
box-shadow: 1px 1px 5px #b9b5b5;
margin: 10px 0 10px 0;
/* border: 1px solid #cccdd2; */
}

.input{
    padding: 10px;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #b2a6a6;
}
.button{
  background-color: #c9c9cf;
    border: 0;
    cursor: pointer;
    padding: 13px;
    font-size: 15px;
    border-radius: 5px;
    margin: 2px;
    width: 100%;
    font-weight: 600;
    color: #4e4b4b;
}
.p15{
  padding: 15px;
}
.button:hover{
  background-color: #3595c8;
  color: #fff;
}

.active{
  border: 1px solid #cac5c5;
  border-radius: 5px;
  background: #ffffffc2;
}
.logo{
  font-size: 30px;
  color: rgb(68, 67, 67);
  font-family: cursive;
}
.header-add{
  display: block;
  width: 25px;
}
.blog-det-text{
  padding: 0 25px 25px 25px;
}
.det-text{
  line-height: 1.5;
    color: #555353;
    font-size: 17px;
}
/* Ваш файл стилей (например, styles.css) */

/* Стили для кнопки "Наверх" */
#scroll-to-top {

  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c9c9cf;
  color: #4e4b4b;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#scroll-to-top:hover {
  background-color: #e3dfdf;
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.pagination button {
  background-color: #eee;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #333;
  color: #fff;
}

.pagination button:hover {
  background-color: #333;
  color: #fff;
}

.pagination span {
  margin: 0 5px;
  font-weight: bold;
}
.short-blog{
  display: flex;
  color: #363535;
  padding: 10px;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
}

.short-center-text{
  display: flex;
    align-items: center;
}

/* Стилизация основного контейнера select */
.custom-select {
  margin-left: 10px;
  
  padding-right: 11px;
  overflow: hidden;
}
.search-blog{
  font-size: 15px;
    padding: 10px;
    border: 1px solid #827d7dbf;
    border-radius: 5px;
    width: 180px;
    background-color: #ffffffed;
    outline: none;
}
.search-box{
  margin-right: -30px;
}
/* Стилизация невидимого нативного select */
.custom-select select {
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border: none;
  background-color:#ffffffc2; /* Прозрачный фон */
  outline: none;
}

/* Стилизация стрелочки */



.custom-select select:hover {
  background-color: #ffffff99;
 /* Цвет рамки при наведении */
}

/* Стилизация при фокусе select */
.custom-select select:focus {
  outline: none;
}

.short-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#ddlProducts *
{
  color: #414040;

 background-color: rgb(244, 240, 240);
}